.wrapper
  .chat-side
    .side-header
      .side-header__box
        %p3.side-header__box__user-name
          = current_user.name
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            = link_to new_group_path do
              = fa_icon 'fa-edit', class: "fa fa-edit"
          %li.side-header__box__menu__edit-user
            = link_to edit_user_path(current_user.id) do
              = fa_icon 'fa-cog', class: "fa fa-cog"

    .groups
      - current_user.groups.each do |group|
        .group
          = link_to group_messages_path(group) do
            .group__group-name 
              = group.name
            .group__latest-message 
              = group.show_last_message

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          = @group.name
        %ul.main-header__left-box__member-list
          Member : 
          %li.main-header__left-box__member-list__member
            - @group.users.each do |user|
              = user.name

      %a{href: "#"}
        .main-header__edit-btn
          = link_to edit_group_path(@group.id) do
            Edit

    .messages
      = render @messages
      -# = render patial: "message", collection: @messages と同じ意味

    .form
      = form_for [@group, @message], html: {class: "new-message"} do |f|
        = f.text_field :content, class: "text", placeholder: "type a message"
        .input-box
          = f.label :image, class: "input-box__label" do
            = fa_icon "picture-o", class: "icon"
            = f.file_field :image, class: "none" 
        = f.submit "Send", class: "submit-btn"
        